.collapsible_toggle {
    color: #eaf1f7;
    background-color: #3c6ec2;
    font-weight: bold;
    padding: 4px 5px 4px 5px;
    text-decoration: none;
}
.collapsible_toggle:hover {
    background-color: #eaf1f7;
    color: #3c6ec2;
}